<div class="new-friend-container">
  <div class="new-friend">
  <h3 class="new-title">Edit a Friend</h3>
    <%= simple_form_for @friend do |t| %>
      <%= t.input :name %>
      <%= t.input :age %>
      <%= t.input :description %>
      <%= t.input :location %>
      <%= t.input :price %>
      <%= t.submit class: "center-btn more-btn"  %>
    <% end %>
  </div>
</div>
