<h1>Friends#edit</h1>
<p>Find me in app/views/friends/edit.html.erb</p>

<%= simple_form_for @friend do |t| %>
  <%= t.input :description %>
  <%= t.input :location %>
  <%= t.input :price %>
  <%= t.input :name %>
  <%= t.input :age %>
  <%= t.input :email %>
  <%= t.submit %>
<% end %>
