<h1 class="friend-info-h1"> Friend information</h1>
<%# ---------------------------------- %>
<div class="grid-master">
  <div class="grid-container-friend">
    <div class="grid-activity-card container-generic">
      <img src="https://images.unsplash.com/photo-1614713568397-b31b779d0498?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1725&q=80g" />
      <div class="grid-activity-container">
        <h2>Activity:</h2>
        <p><%= @friend.description %></p>
      </div>
    </div>
    <div class="info-card-details-master">
      <div class="info-card-details">
        <div class="personal-info-grid">
          <div class="item-friend-name">
            <p><span class="name"><%= @friend.name %>,</span> <%= @friend.age %><p>
          </div>
          <div class="item-location">
            <p><%= @friend.location %></p>
          </div>
          <div class="item-avatar">
            <% if !(Friend.find(@friend.id).photo_url.blank?)%>
              <%= image_tag Friend.find(@friend.id).photo_url, class: "avatar-img" %>
            <% else %>
              <%= image_tag "https://robohash.org/doloribusaccusamusut.png?size=300x300&set=set1", class: "avatar-img" %>
            <% end %>
          </div>
          <div class="item-menu">
            <div class="menu-btn">
              <div class="menu" onclick="this.classList.toggle('open')">
                <div class="button"></div>
                <div class="button"></div>
                <div class="button"></div>
            </div>
            </div>
            <nav class="btn-pluss-wrapper">
            <h2 class="tooltip">Look!</h2>
            <div href="#" class="btn-pluss">
              <ul>
                <li><%= link_to "Book", "#"%></li>
                <li><%= link_to "Delete", friend_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
                <li><%= link_to "Edit", edit_friend_path%></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="item-price">
      <div class="price-details">
        <p><strong>Rate </strong>£<%= @friend.price %>per/Hr</p>
      </div>
    </div>
    <div class="item-map">
      <div class="location-details" style="background-image: url(https://res.cloudinary.com/djr22sgp3/image/upload/v1677621888/map_lenulp.png)">
    </div>
  </div>
</div>
