<%# ----------------NAVBAR----------------- %>
<div class="nav-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/djr22sgp3/image/upload/v1677514511/logo.png.png", class: "logo-friendify" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
             <%= link_to "Home", "/homepage", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Activities", activities_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <% if current_user.user_photo.attached? %>
                <%= cl_image_tag current_user.user_photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
              <% else %>
                <%# <%= cl_image_tag current_user.user_photo_thumbnail, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false   %>
                <%= cl_image_tag "default_user_profile", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false   %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Profile", activities_new_path, class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%# ----------------NAVBAR END----------------- %>
