<div class="new-friend-container">
  <div class="new-friend">
  <h3 class="new-title">Add an Activity</h3>
    <%= simple_form_for [@activity] do |f| %>
        <%= f.input :location, placeholder: 'london' %>
        <%= f.input :price, placeholder: '1.5' %>
        <%= f.input :category, placeholder: 'Sport'%>
        <%= f.input :description, placeholder: 'I like the cats' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "center-btn more-btn"%>
    <% end %>
  </div>
</div>
