<div class="new-friend-container">
  <div class="new-friend">
  <h3 class="new-title">Add a Friend</h3>
    <%= simple_form_for [@friend] do |f| %>
        <%= f.input :name, placeholder: 'Enter a name' %>
        <%= f.input :age, placeholder: '+18' %>
        <%= f.input :email, placeholder: 'name@friend.com' %>
        <%= f.input :location, placeholder: 'london' %>
        <%= f.input :price, placeholder: '1.5' %>
        <%= f.input :description, placeholder: 'I like the cats' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "center-btn more-btn"%>
    <% end %>
  </div>
</div>
